$pbborder: thin solid #d1d1d1ec;
$navHeight: 60px;
$footerHeight: 60px;
$viewHeight: calc(100vh - 60px);
$bg: #e0eaf9;
$primary: #1b2547;
$secondary: #ffdd30;
$third: #23689b;
$violet: #785ba7;
$text: #575765;
$spacing: 20px;
